.App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90%;
}

.App-link {
  color: #61dafb;
}

img {
  margin-top: 30px;
  /* width: 200px; */
  /* height: 300px; */
  max-width: 250px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10%;
}

button {
  margin: 5px;
  padding: 3px;
}
